<div class='span6'>
  <div id="listing-<%= listing.id %>" class="carousel slide" data-interval='false'>
    <!-- Carousel items -->
    <a class='tag'><%= number_to_currency(listing.rent, :precision => 0) %></a>
    <div class="carousel-inner photo-carousel">
      <% listing.photos.find_each do |photo| %>
        <div class="item">
          <div class='img-frame'>
            <%= image_tag photo.image.size800x600.url %>
            <div class='carousel-caption'>
              <h4>614 South Harrison Street, Fort Wayne IN 46802</h4>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#listing-<%= listing.id %>" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#listing-<%= listing.id %>" data-slide="next">&rsaquo;</a>
  </div>
</div>