<div class='row listings'>

  <div class='span12 search-criteria center'>
    Searching for
    <ul class='unstyled criteria'>
      <li class='price'><span class='label label-success label-large'>$850</span></li>
      <li class='bedrooms'><span class='label label-warning label-large'>2 bed</span></li>
      <li class='bathrooms'><span class='label label-warning label-large'>1 bath</span></li>
      <li class='zip'><span class='label label-info label-large'>46818</span></li>
    </ul>
  </div>

  <div class='span6'>
    <div id="listing-1" class="carousel slide" data-interval='false'>
      <!-- Carousel items -->
      <a class='tag'>$845</a>
      <div class="carousel-inner">
        <div class="active item">
          <div class='img-frame'>
            <%= image_tag 'stock/s1-thumb.jpg' %>
            <div class='carousel-caption'>
              <h4>614 South Harrison Street, Fort Wayne IN 46802</h4>
            </div>
          </div>
        </div>
        <div class="item">
          <div class='img-frame'>
            <%= image_tag 'stock/s2-thumb.jpg' %>
            <div class='carousel-caption'>
              <h4>614 South Harrison Street, Fort Wayne IN 46802</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#listing-1" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#listing-1" data-slide="next">&rsaquo;</a>
    </div>
  </div>

  <div class='span6'>
    <div id="listing-2" class="carousel slide" data-interval='false'>
      <!-- Carousel items -->
      <a class='tag'>$1,050</a>
      <div class="carousel-inner">
        <div class="active item">
          <div class='img-frame'>
            <%= image_tag 'stock/s2-thumb.jpg' %>
            <div class='carousel-caption'>
              <h4>614 South Harrison Street, Fort Wayne IN 46802</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#listing-2" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#listing-2" data-slide="next">&rsaquo;</a>
    </div>
  </div>

  <div class='span6'>
    <div id="listing-3" class="carousel slide" data-interval='false'>
      <!-- Carousel items -->
      <a class='tag'>$825</a>
      <div class="carousel-inner">
        <div class="active item">
          <div class='img-frame'>
            <%= image_tag 'stock/s3-thumb.jpg' %>
            <div class='carousel-caption'>
              <h4>614 South Harrison Street, Fort Wayne IN 46802</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#listing-3" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#listing-3" data-slide="next">&rsaquo;</a>
    </div>
  </div>

  <div class='span6'>
    <div id="listing-4" class="carousel slide" data-interval='false'>
      <!-- Carousel items -->
      <a class='tag'>$740</a>
      <div class="carousel-inner">
        <div class="active item">
          <div class='img-frame'>
            <%= image_tag 'stock/s4-thumb.jpg' %>
            <div class='carousel-caption'>
              <h4>614 South Harrison Street, Fort Wayne IN 46802</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#listing-4" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#listing-4" data-slide="next">&rsaquo;</a>
    </div>
  </div>

  <div class='span6'>
    <div id="listing-5" class="carousel slide" data-interval='false'>
      <!-- Carousel items -->
      <a class='tag'>$905</a>
      <div class="carousel-inner">
        <div class="active item">
          <div class='img-frame'>
            <%= image_tag 'stock/s1-thumb.jpg' %>
            <div class='carousel-caption'>
              <h4>614 South Harrison Street, Fort Wayne IN 46802</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#listing-5" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#listing-5" data-slide="next">&rsaquo;</a>
    </div>
  </div>

</div>