
<%= form_for @listing, :html => {:class => "form-horizontal"} do |f| %> 
  <legend>Add a new apartment listing</legend>

  <div class="control-group">
    <%= f.label :rental_type, "Type of Rental", :class =>"control-label"%>
     <div class="controls">
      <%= f.select :rental_type, "<option>Apartment</option><option>Condo</option><option>Duplex</option><option>House</option>".html_safe %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :rent, "Monthly Rent", :class =>"control-label" %> 
    <div class="controls">
      <%= f.text_field :rent, :placeholder => "$750"%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :deposit, "Deposit Required", :class =>"control-label" %>
    <div class="controls">
      <%= f.text_field :deposit, :placeholder => "1st Month Rent"%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :number_of_bedrooms, "Number of Bedroom", :class =>"control-label" %>
    <div class="controls">
      <%= f.text_field :number_of_bedrooms, :placeholder => "3 Bedrooms" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :number_of_bathrooms, "Number of Bathrooms", :class =>"control-label" %>
    <div class="controls">
      <%= f.text_field :number_of_bathrooms, :placeholder => "2 Bathrooms" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :square_feet, "Total Square Feet", :class =>"control-label" %>
    <div class="controls">
      <%= f.text_field :square_feet, :placeholder => "1,200" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :length_of_lease, "Length of Lease", :class =>"control-label" %>
    <div class="controls">
      <%= f.text_field :length_of_lease, :placeholder =>"9 months" %>
    </div>
  </div>

  <div class='form-actions'>
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to "Back", :back, :class => 'btn' %>
  </div>

<% end %>

<script type="text/javascript">
  $(function (){
      $('.date-picker').datepicker();
  });
</script>