<div class='header'>
  <h1 class='center big-header'>
    Apartment hunting sucks.
  </h1>
</div>

<div class='search-container'>
  <h2 class='subtitle'>
    Easily find your new place today.
  </h2>
  <div class='search-box'>

    <%= form_tag search_listings_path, :method => :get, :class => 'form-inline' do %>

      <div class='input-prepend'>
        <span class="add-on">$</span>
        <%= text_field_tag :rent, nil, :class => 'input-small', :placeholder => "Price" %>
      </div>

      <%= text_field_tag :number_of_bedrooms, nil, :class => 'input-small', :placeholder => "# of Bed" %>

      <%= text_field_tag :number_of_bathrooms, nil, :class => 'input-small', :placeholder => "# of Bath" %>

      <%= text_field_tag :zip, nil, :class => 'input-small', :placeholder => "Zip" %>

      <%= button_tag :class => 'btn btn-info btn-xlarge' do %>
        <i class='icon-search icon-white'></i> Search
      <% end %>

    <% end %>

  </div>
</div>