<!DOCTYPE html>
<html>
<head>
  <title>Crib Ninja</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "application" %>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='overlay'>

    <%= render 'header' %>

    <div class='container main-container'>
      <div class='row'>
        <div class='span12'>


          <%= yield %>


        </div>
      </div>
    </div>

  </div>

  <%= yield :additional_javascripts %>
</body>
</html>
